.cart{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width:450px;
  border:2px solid grey;
  padding:10px;
  margin:50px;
  height:130px;
  border-radius:5px;
}
.cart-image img{
  width:70px;
}
.cart-price{
  font-weight:bold;
  text-align:center;
}
.add-to-cart button{
  background-color:red;
  color:white;
  padding:8px;
  border-radius:5px;
  box-shadow:0 1px 5px #333;
  border:none;
  cursor: pointer;
}
.cart-icon img{
  width:50px;
  position: absolute;
  top:1%;
  right:1%;
}